<div class="pg-page">
  <div class="pg-header js-pg-header">
    <div class="container pg-header__container">
      <button class="pg-search-trigger">
        <span>Search</span>
      </button>
      <div class="pg-logo pg-logo--mobile">
        <a href=""><img src="{{ base_path ~ directory }}/logo.svg"/></a>
      </div>
      <button class="pg-menu-trigger js-pg-menu-trigger">
        <span>Menu</span>
      </button>
      <ul class="pg-menu">
        <li class="pg-menu__item"><a href="">About</a></li>
        <li class="pg-menu__item"><a href="">Work</a></li>
        <div class="pg-logo pg-logo--desktop">
          <a href=""><img src="{{ base_path ~ directory }}/logo.svg"/></a>
        </div>
        <li class="pg-menu__item"><a href="">Blog</a></li>
        <li class="pg-menu__item"><a href="">Contact</a></li>
      </ul>
    </div>  
  </div>
  <div class="pg-page__main">
    <div class="container">
      <h2>Colours</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="pg-swatch pg-swatch--cream"></p>
          <p class="pg-swatch pg-swatch--rock"></p>
          <p class="pg-swatch pg-swatch--sand"></p>
          <p class="pg-swatch pg-swatch--surf"></p>
          <p class="pg-swatch pg-swatch--grass"></p>
        </div>
        <div class="col-md-6">
          <p class="pg-swatch pg-swatch--slate"></p>
          <p class="pg-swatch pg-swatch--earth"></p>
          <p class="pg-swatch pg-swatch--rust"></p>
          <p class="pg-swatch pg-swatch--ocean"></p>
          <p class="pg-swatch pg-swatch--blood"></p>
        </div>
      </div>
      <hr>
      <h2>Fonts</h2>
      <h1>Display - Pacifico</h1>
      <p class="pg-type-display">Pack my box with five dozen liquor jugs</p>
      <h1 class="pg-type-sans-serif">Sans serif - Arimo</h1>
      <p>Pack my box with five dozen liquor jugs</p>
      <hr>
      <h2>Typography</h2>
      <div class="row">
        <div class="col-md-6">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
        </div>
        <div class="col-md-6">
          <p>Paragraph - Amet proident cillum reprehenderit irure fugiat sit cillum pariatur excepteur excepteur. <a href="">Inline link</a> excepteur ea deserunt mollit ad laboris voluptate ad aliquip amet labore adipisicing. Officia eu non deserunt incididunt eiusmod ipsum ea esse exercitation voluptate dolor ipsum voluptate.</p>
        </div>
      </div>
      <hr>
      <h2>Buttons</h2>
      <div>
        <button class="pg-button">Button</button>
        <a href="" class="pg-button">Link</a>
        <div class="pg-button"><button>Wrapper</button></div>
        <div class="pg-button"><a href="">Wrap Link</a></div>
        <input type="submit" value="Submit" class="pg-button"/>
      </div>
      <div>
        <button class="pg-button pg-button--phone">Phone</button>
        <button class="pg-button pg-button--arrow-right-thin">Next</button>
        <button class="pg-button pg-button--arrow-left-thin">Previous</button>
        <button class="pg-button pg-button--download">Download</button>
      </div>
      <div>
        <button class="pg-button pg-button--secondary">Secondary</button>
        <button class="pg-button pg-button--secondary pg-button--phone">Icon</button>
        <button class="pg-button pg-button--secondary pg-button--download">Download</button>
      </div>
      <div>
        <button class="pg-button pg-button--tertiary">Tertiary</button>
        <button class="pg-button pg-button--tertiary pg-button--arrow-right-thin">Next</button>
        <button class="pg-button pg-button--tertiary pg-button--arrow-left-thin">Previous</button>
        <button class="pg-button pg-button--tertiary pg-button--download">Download</button>
      </div>
      <hr>
      <h2>Icons</h2>
      <span class="pg-icon pg-icon--arrow-down"></span>
      <span class="pg-icon pg-icon--arrow-left-thin"></span>
      <span class="pg-icon pg-icon--arrow-right-thin"></span>
      <span class="pg-icon pg-icon--arrow-up"></span>
      <span class="pg-icon pg-icon--checkmark"></span>
      <span class="pg-icon pg-icon--circle-down"></span>
      <span class="pg-icon pg-icon--cross"></span>
      <span class="pg-icon pg-icon--download"></span>
      <span class="pg-icon pg-icon--envelop"></span>
      <span class="pg-icon pg-icon--equalizer2"></span>
      <span class="pg-icon pg-icon--linkedin2"></span>
      <span class="pg-icon pg-icon--phone"></span>
      <hr>
      <h2>Forms</h2>
      <label class="pg-form__element">
        <span>Text input</span>
        <input type="text"/>
      </label>
      <label class="pg-form__element">
        <span>Select</span>
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </label>
      <div class="pg-form__group">
        {% spaceless %}
          <label class="pg-form__element">
            <span>Checkbox</span>
            <div class="pg-checkbox">
              <input type="checkbox"/>
              <div class="pg-checkbox__box"></div>
            </div>
          </label>
        {% endspaceless %}
        {% spaceless %}
          <label class="pg-form__element">
            <span>Checkbox</span>
            <div class="pg-checkbox">
              <input type="checkbox"/>
              <div class="pg-checkbox__box"></div>
            </div>
          </label>
        {% endspaceless %}
      </div>
      <div class="pg-form__group">
        {% spaceless %}
          <label class="pg-form__element">
            <span>Radio</span>
            <div class="pg-radio">
              <input type="radio" name="radios"/>
              <div class="pg-radio__box"></div>
            </div>
          </label>
        {% endspaceless %}
        {% spaceless %}
          <label class="pg-form__element">
            <span>Radio</span>
            <div class="pg-radio">
              <input type="radio" name="radios"/>
              <div class="pg-radio__box"></div>
            </div>
          </label>
        {% endspaceless %}
      </div>
      {% spaceless %}
        <label class="pg-form__element">
          <span>Toggle</span>
          <div class="pg-toggle">
            <input type="checkbox"/>
            <div class="pg-toggle__box"></div>
          </div>
        </label>
      {% endspaceless %}
      <hr>
      <h2>Components</h2>
      <div class="pg-alert" data-pg-alert>
        <h4>Alert title</h4>
        <p>Alert message</p>
        <button class="pg-alert__close-button" data-pg-alert-close><span class="sr-only">Close</span></button>
      </div>
      <div class="pg-alert pg-alert--warning" data-pg-alert>
        <h4>Alert title</h4>
        <p>Alert message</p>
        <button class="pg-alert__close-button" data-pg-alert-close><span class="sr-only">Close</span></button>
      </div>
      <div class="pg-alert pg-alert--error" data-pg-alert>
        <h4>Alert title</h4>
        <p>Alert message</p>
        <button class="pg-alert__close-button" data-pg-alert-close><span class="sr-only">Close</span></button>
      </div>
    </div>
    <div class="pg-hero">
      <div class="pg-hero__content">
        <h1>Hero</h1>
      </div>
    </div>
    <div class="container">
      <div class="pg-accordion" data-pg-accordion>
        {% for i in 1..3 %}
          <div class="pg-accordion__slide" data-pg-accordion-slide>
            <h1>Accordion Item {{ i }} Title</h1>
            <div class="pg-accordion__content" data-pg-accordion-content>
              <p>Accordion Item {{ i }} content</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="pg-player" data-pg-player>
      <video class="pg-player__video" data-pg-player-video muted>
        <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4" type="video/mp4">
      </video>
      <div class="pg-player__content">
        <div class="container">
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="pg-scroller" data-pg-scroller>
        <div class="pg-scroller__head" data-pg-scroller-head>
          <h2>Title</h2>
        </div>
        <div class="row pg-scroller__row">
          <div class="col-md-6 pg-scroller__main" data-pg-scroller-main>
            <h2>Pinned content</h2>
          </div>
          <div class="col-md-6 pg-scroller__inset" data-pg-scroller-inset>
            <div class="row pg-scroller__inset-row">
              <div class="col-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pg-revealer" data-pg-revealer>
      <div class="pg-revealer__section pg-revealer__section--first" data-pg-revealer-section>
        <div class="pg-revealer__content" data-pg-revealer-content>
          <p class="pg-revealer__text" data-pg-revealer-text>Text<br>text<br>text<br>text<br>text<br>text</p>
        </div>
      </div>
      <div class="pg-revealer__section pg-revealer__section--last" data-pg-revealer-section>
        <div class="pg-revealer__content" data-pg-revealer-content>
          <p class="pg-revealer__text" data-pg-revealer-text>Text<br>text<br>text<br>text<br>text<br>text</p>
        </div>
      </div>
    </div>
    <div class="pg-tray" data-tray>
      <div class="pg-tray__top">
        <div class="container">
          <div class="pg-filter-tabs">
            <div class="pg-label">Sort By</div>
            <a href="" class="pg-filter-tabs__tab">Featured</a>
            <a href="" class="pg-filter-tabs__tab is-active">Latest</a>
          </div>
        </div>
      </div>
      <div class="pg-tray__bottom" data-tray-bottom>
        <div class="container">
          <div class="pg-filter-wrapper">
            {% for i in 1..3 %}
              <div class="pg-dropdown" data-dropdown>
                <div class="pg-dropdown__top" data-dropdown-top tabindex="0">
                  <div class="pg-label">Events for</div>
                  <div class="pg-dropdown__selected" data-dropdown-selected>Events for everyone</div>
                </div>
                <div class="pg-dropdown__bottom" data-dropdown-bottom>
                  {% for i in 1..3 %}
                    <label class="pg-dropdown__item">
                      <div class="pg-checkbox">
                        <input type="checkbox"/>
                        <div class="pg-checkbox__box"></div>
                      </div>
                      <div>
                        <div class="pg-dropdown__item-title">Seminar</div>
                        <div class="pg-dropdown__item-label">Quisque placerat facilisis egestas.</div>
                      </div>
                    </label>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
            <div class="pg-filter-wrapper__buttons">
              <button class="pg-button">Apply Filters</button>
              <button class="pg-button">Clear Filters</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pg-tray__trigger" data-tray-trigger>
        <div class="pg-tray__trigger-text pg-tray__trigger-text--open">Filters</div>
        <div class="pg-tray__trigger-text pg-tray__trigger-text--close">Close</div>
      </div>
    </div>
    <div class="pg-page-section pg-page-section--inverse">
      <div class="container">
        <div class="row">
          {% for i in 1..3 %}
            <div class="col-xs-12 col-md-4 col-grow">
              <div class="pg-card">
                <div class="pg-card__inner">
                  <div class="pg-card__image">
                    <img src="https://picsum.photos/382/213">
                  </div>
                  <div class="pg-card__content">
                    <div class="pg-card__content-top">
                      <div class="pg-card__label">
                        M&S
                      </div>
                      <h3 class="pg-card__title">
                        {% if loop.last %}
                          Accumsan consequat fames scelerisque id tempus massa velit
                        {% else %}
                          Short Title
                        {% endif %}
                      </h3>
                    </div>
                    <div class="pg-card__content-bottom">
                      <div class="pg-card__detail">
                        <div class="pg-label">Sector</div>
                        <div>Retail, FMCG</div>
                      </div>
                      <div class="pg-card__detail">
                        <div class="pg-label">Objective</div>
                        <div>Awareness, consideration, sales</div>
                      </div>
                    </div>
                  </div>
                  <a href="" class="pg-card__link"></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="pg-grid">
        <div class="pg-grid__item">
          <h3>Grid item 1</h3>
          <p>Ex non Lorem laboris nulla aliquip consequat nostrud magna ullamco aliqua. Irure duis tempor officia magna qui proident tempor enim. Fugiat aute proident exercitation id ea exercitation cupidatat nulla sunt consectetur. Duis amet cillum nostrud qui eu elit ex deserunt aute commodo sit duis consectetur officia.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 6</h3>
          <p>Lorem</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 7</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="pg-page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 pg-reset-child-margins">
            <h1>Page Section</h1>
            <p>This is the default page section, with a half width image, and the default layout</p>
            <p>Culpa in est fugiat ipsum sint ipsum elit pariatur. Consequat exercitation deserunt voluptate aliquip. Reprehenderit eiusmod officia est excepteur nulla. Ipsum minim commodo laborum ipsum officia laboris velit nulla. Nostrud est in velit ipsum aute enim sunt voluptate laborum ea commodo. Esse quis occaecat magna deserunt ea eiusmod ea.</p>
          </div>
        </div>
      </div>
      <div class="pg-page-section__image"></div>
    </div>
    <div class="pg-page-section pg-page-section--inverse pg-page-section--reverse">
      <div class="container">
        <div class="row">
          <div class="col-md-6 pg-reset-child-margins">
            <h1>Page Section</h1>
            <p>This is the dark page section, with a half width image, and the reverse layout</p>
            <p>Culpa in est fugiat ipsum sint ipsum elit pariatur. Consequat exercitation deserunt voluptate aliquip. Reprehenderit eiusmod officia est excepteur nulla. Ipsum minim commodo laborum ipsum officia laboris velit nulla. Nostrud est in velit ipsum aute enim sunt voluptate laborum ea commodo. Esse quis occaecat magna deserunt ea eiusmod ea.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pg-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="pg-logo">
            <a href=""><img src="{{ base_path ~ directory }}/logo-bw.svg"/></a>
          </div>
        </div>
        <div class="col-lg-9">
          <p><a href="">About</a></p>
          <p><a href="">Contact</a></p>
          <p>© Tom Evans 2019</p>
        </div>
      </div>
    </div>
  </div>
</div>