<div class="pg-page">
  <div class="pg-header js-pg-header">
    <div class="container pg-header__container">
      <button class="pg-search-trigger">
        <span>Search</span>
      </button>
      <div class="pg-logo pg-logo--mobile">
        <a href=""><img src="{{ base_path ~ directory }}/logo.svg"/></a>
      </div>
      <button class="pg-menu-trigger js-pg-menu-trigger">
        <span>Menu</span>
      </button>
      <ul class="pg-menu">
        <li class="pg-menu__item"><a href="">About</a></li>
        <li class="pg-menu__item"><a href="">Work</a></li>
        <div class="pg-logo pg-logo--desktop">
          <a href=""><img src="{{ base_path ~ directory }}/logo.svg"/></a>
        </div>
        <li class="pg-menu__item"><a href="">Blog</a></li>
        <li class="pg-menu__item"><a href="">Contact</a></li>
      </ul>
    </div>  
  </div>
  <div class="pg-page__main">
    <div class="container">
      <h2>Colours</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="pg-swatch pg-swatch--cream"></p>
          <p class="pg-swatch pg-swatch--rock"></p>
          <p class="pg-swatch pg-swatch--sand"></p>
          <p class="pg-swatch pg-swatch--surf"></p>
          <p class="pg-swatch pg-swatch--grass"></p>
        </div>
        <div class="col-md-6">
          <p class="pg-swatch pg-swatch--slate"></p>
          <p class="pg-swatch pg-swatch--earth"></p>
          <p class="pg-swatch pg-swatch--rust"></p>
          <p class="pg-swatch pg-swatch--ocean"></p>
          <p class="pg-swatch pg-swatch--blood"></p>
        </div>
      </div>
      <hr>
      <h2>Fonts</h2>
      <h1>Display - Pacifico</h1>
      <p class="pg-type-display">Pack my box with five dozen liquor jugs</p>
      <h1 class="pg-type-sans-serif">Sans serif - Arimo</h1>
      <p>Pack my box with five dozen liquor jugs</p>
      <hr>
      <h2>Typography</h2>
      <div class="row">
        <div class="col-md-6">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
        </div>
        <div class="col-md-6">
          <p>Paragraph - Amet proident cillum reprehenderit irure fugiat sit cillum pariatur excepteur excepteur. <a href="">Inline link</a> excepteur ea deserunt mollit ad laboris voluptate ad aliquip amet labore adipisicing. Officia eu non deserunt incididunt eiusmod ipsum ea esse exercitation voluptate dolor ipsum voluptate.</p>
          <p class="pg-label">Lorem ipsum dolar</p>
          <p><code>Code example</code></p>
          <p><b>Bold text</b></p>
          <p><em>Italic Text</em></p>
          <p><a href="">Inline Link</a></p>
        </div>
        <div class="col-md-6">
          <p class="pg-type-intro">Enim esse occaecat nulla ex ad reprehenderit dolore anim incididunt eu nostrud id. Pariatur sunt consectetur excepteur excepteur pariatur exercitation eu nostrud id nulla quis laboris esse minim. Nulla fugiat aliqua eu nisi. Deserunt eiusmod dolor minim esse aliqua nostrud eu. Cillum mollit laborum veniam ipsum voluptate. Esse ut Lorem eu minim esse Lorem. Magna culpa cillum fugiat culpa aute duis sunt in nulla elit ea.</p>
        </div>
      </div>
      <hr>
      <h2>Buttons</h2>
      <div>
        <button class="pg-button">Button</button>
        <a href="" class="pg-button">Link</a>
        <div class="pg-button"><button>Wrapper</button></div>
        <div class="pg-button"><a href="">Wrap Link</a></div>
        <input type="submit" value="Submit" class="pg-button"/>
      </div>
      <div>
        <button class="pg-button pg-button--phone">Phone</button>
        <button class="pg-button pg-button--arrow-right-thin">Next</button>
        <button class="pg-button pg-button--arrow-left-thin">Previous</button>
        <button class="pg-button pg-button--download">Download</button>
      </div>
      <div>
        <button class="pg-button pg-button--secondary">Secondary</button>
        <button class="pg-button pg-button--secondary pg-button--phone">Icon</button>
        <button class="pg-button pg-button--secondary pg-button--download">Download</button>
      </div>
      <div>
        <button class="pg-button pg-button--tertiary">Tertiary</button>
        <button class="pg-button pg-button--tertiary pg-button--arrow-right-thin">Next</button>
        <button class="pg-button pg-button--tertiary pg-button--arrow-left-thin">Previous</button>
        <button class="pg-button pg-button--tertiary pg-button--download">Download</button>
      </div>
      <hr>
      <h2>Icons</h2>
      <span class="pg-icon pg-icon--home3"></span>
      <span class="pg-icon pg-icon--pencil2"></span>
      <span class="pg-icon pg-icon--images"></span>
      <span class="pg-icon pg-icon--music"></span>
      <span class="pg-icon pg-icon--book"></span>
      <span class="pg-icon pg-icon--profile"></span>
      <span class="pg-icon pg-icon--phone"></span>
      <span class="pg-icon pg-icon--envelop"></span>
      <span class="pg-icon pg-icon--display"></span>
      <span class="pg-icon pg-icon--laptop"></span>
      <span class="pg-icon pg-icon--mobile"></span>
      <span class="pg-icon pg-icon--mobile2"></span>
      <span class="pg-icon pg-icon--download"></span>
      <span class="pg-icon pg-icon--lock"></span>
      <span class="pg-icon pg-icon--equalizer2"></span>
      <span class="pg-icon pg-icon--trophy"></span>
      <span class="pg-icon pg-icon--rocket"></span>
      <span class="pg-icon pg-icon--meter"></span>
      <span class="pg-icon pg-icon--lab"></span>
      <span class="pg-icon pg-icon--bin"></span>
      <span class="pg-icon pg-icon--power"></span>
      <span class="pg-icon pg-icon--clipboard"></span>
      <span class="pg-icon pg-icon--earth"></span>
      <span class="pg-icon pg-icon--eye"></span>
      <span class="pg-icon pg-icon--eye-blocked"></span>
      <span class="pg-icon pg-icon--heart"></span>
      <span class="pg-icon pg-icon--cross"></span>
      <span class="pg-icon pg-icon--checkmark"></span>
      <span class="pg-icon pg-icon--arrow-up"></span>
      <span class="pg-icon pg-icon--arrow-down"></span>
      <span class="pg-icon pg-icon--arrow-right2"></span>
      <span class="pg-icon pg-icon--arrow-left2"></span>
      <span class="pg-icon pg-icon--circle-down"></span>
      <span class="pg-icon pg-icon--linkedin2"></span>
      <span class="pg-icon pg-icon--plus"></span>
      <span class="pg-icon pg-icon--minus"></span>
      <hr>
      <h2>Forms</h2>
      <label class="pg-form__element">
        <span>Text input</span>
        <input type="text"/>
      </label>
      <label class="pg-form__element">
        <span>Select</span>
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </label>
      <div class="pg-form__group">
        {% spaceless %}
          <label class="pg-form__element">
            <span>Checkbox</span>
            <div class="pg-checkbox">
              <input type="checkbox"/>
              <div class="pg-checkbox__box"></div>
            </div>
          </label>
        {% endspaceless %}
        {% spaceless %}
          <label class="pg-form__element">
            <span>Checkbox</span>
            <div class="pg-checkbox">
              <input type="checkbox"/>
              <div class="pg-checkbox__box"></div>
            </div>
          </label>
        {% endspaceless %}
      </div>
      <div class="pg-form__group">
        {% spaceless %}
          <label class="pg-form__element">
            <span>Radio</span>
            <div class="pg-radio">
              <input type="radio" name="radios"/>
              <div class="pg-radio__box"></div>
            </div>
          </label>
        {% endspaceless %}
        {% spaceless %}
          <label class="pg-form__element">
            <span>Radio</span>
            <div class="pg-radio">
              <input type="radio" name="radios"/>
              <div class="pg-radio__box"></div>
            </div>
          </label>
        {% endspaceless %}
      </div>
      {% spaceless %}
        <label class="pg-form__element">
          <span>Toggle</span>
          <div class="pg-toggle">
            <input type="checkbox"/>
            <div class="pg-toggle__box"></div>
          </div>
        </label>
      {% endspaceless %}
      <hr>
      <h2>Components</h2>
      <div class="pg-alert" data-pg-alert>
        <h4>Alert title</h4>
        <p>Alert message</p>
        <button class="pg-alert__close-button" data-pg-alert-close><span class="sr-only">Close</span></button>
      </div>
      <div class="pg-alert pg-alert--warning" data-pg-alert>
        <h4>Alert title</h4>
        <p>Alert message</p>
        <button class="pg-alert__close-button" data-pg-alert-close><span class="sr-only">Close</span></button>
      </div>
      <div class="pg-alert pg-alert--error" data-pg-alert>
        <h4>Alert title</h4>
        <p>Alert message</p>
        <button class="pg-alert__close-button" data-pg-alert-close><span class="sr-only">Close</span></button>
      </div>
    </div>
    <div class="pg-hero" style="background-image: url(http://picsum.photos/1440/810)">
      <div class="pg-hero__content">
        <div class="container">
          <h1>Hero</h1>
        </div>
      </div>
    </div>
    <div class="pg-hero pg-hero--small justify-content-start" style="background-image: url(http://picsum.photos/1440/810)">
      <div class="pg-hero__content">
        <div class="container">
          <a href="" class="pg-button pg-button--tertiary pg-button--arrow-left-thin">Back</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="pg-letterhead">
            <h1>Article Title goes here</h1>
            <p class="pg-label">Published 01/10/2010 | By Tom Evans</p>
            <p class="pg-type-intro">Eiusmod elit cillum voluptate pariatur aliqua officia dolore officia in ex proident sint exercitation do. Consectetur cupidatat et sint aliquip ullamco elit labore sit proident exercitation incididunt. Magna qui dolore non quis nostrud eu id. Dolore incididunt nostrud aute non. Ex dolore dolor dolore proident eiusmod. Qui velit elit reprehenderit incididunt non aute nisi commodo deserunt Lorem consectetur. Culpa deserunt ex irure nostrud tempor cillum id velit.</p>
          </div>
        </div>
      </div>
      <div class="pg-accordion" data-pg-accordion>
        {% for i in 1..3 %}
          <div class="pg-accordion__slide" data-pg-accordion-slide>
            <h1><span class="pg-accordion__icon pg-icon pg-icon--plus"></span>Accordion Item {{ i }} Title</h1>
            <div class="pg-accordion__content" data-pg-accordion-content>
              <p>Accordion Item {{ i }} content</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="pg-player" data-pg-player>
      <video class="pg-player__video" data-pg-player-video muted>
        <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4" type="video/mp4">
      </video>
      <div class="pg-player__content">
        <div class="container">
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
          <h1 style="margin: 400px 0">Content</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="pg-scroller" data-pg-scroller>
        <div class="pg-scroller__head" data-pg-scroller-head>
          <h2>Title</h2>
        </div>
        <div class="row pg-scroller__row">
          <div class="col-md-6 pg-scroller__main" data-pg-scroller-main>
            <h2>Pinned content</h2>
          </div>
          <div class="col-md-6 pg-scroller__inset" data-pg-scroller-inset>
            <div class="row pg-scroller__inset-row">
              <div class="col-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pg-scroller pg-scroller--reverse" data-pg-scroller>
        <div class="pg-scroller__head" data-pg-scroller-head></div>
        <div class="row pg-scroller__row">
          <div class="col-md-6 pg-scroller__main" data-pg-scroller-main>
            <h2>Pinned content</h2>
          </div>
          <div class="col-md-6 pg-scroller__inset" data-pg-scroller-inset>
            <div class="row pg-scroller__inset-row">
              <div class="col-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa incidunt voluptate, suscipit quibusdam labore aliquid non sunt saepe nisi impedit corrupti debitis esse id explicabo reiciendis rem tenetur iusto porro.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pg-revealer" data-pg-revealer>
      <div class="pg-revealer__section pg-revealer__section--first" data-pg-revealer-section>
        <div class="pg-revealer__content" data-pg-revealer-content>
          <p class="pg-revealer__text" data-pg-revealer-text>Text<br>text<br>text<br>text<br>text<br>text</p>
        </div>
      </div>
      <div class="pg-revealer__section pg-revealer__section--last" data-pg-revealer-section>
        <div class="pg-revealer__content" data-pg-revealer-content>
          <p class="pg-revealer__text" data-pg-revealer-text>Text<br>text<br>text<br>text<br>text<br>text</p>
        </div>
      </div>
    </div>
    <div class="pg-tray" data-tray>
      <div class="pg-tray__top">
        <div class="container">
          <div class="pg-filter-tabs">
            <div class="pg-label">Sort By</div>
            <a href="" class="pg-filter-tabs__tab">Featured</a>
            <a href="" class="pg-filter-tabs__tab is-active">Latest</a>
          </div>
        </div>
      </div>
      <div class="pg-tray__bottom" data-tray-bottom>
        <div class="container">
          <div class="pg-filter-wrapper">
            {% for i in 1..3 %}
              <div class="pg-dropdown" data-dropdown>
                <div class="pg-dropdown__top" data-dropdown-top tabindex="0">
                  <div class="pg-label">Events for</div>
                  <div class="pg-dropdown__selected" data-dropdown-selected>Events for everyone</div>
                </div>
                <div class="pg-dropdown__bottom" data-dropdown-bottom>
                  {% for i in 1..3 %}
                    <label class="pg-dropdown__item">
                      <div class="pg-checkbox">
                        <input type="checkbox"/>
                        <div class="pg-checkbox__box"></div>
                      </div>
                      <div>
                        <div class="pg-dropdown__item-title">Seminar</div>
                        <div class="pg-dropdown__item-label">Quisque placerat facilisis egestas.</div>
                      </div>
                    </label>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
            <div class="pg-filter-wrapper__buttons">
              <button class="pg-button">Apply</button>
              <button class="pg-button">Clear</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pg-tray__trigger" data-tray-trigger>
        <div class="pg-tray__trigger-text pg-tray__trigger-text--open">Filters</div>
        <div class="pg-tray__trigger-text pg-tray__trigger-text--close">Close</div>
      </div>
    </div>
    <div class="pg-page-section pg-page-section--inverse">
      <div class="container">
        <div class="row">
          {% for i in 1..3 %}
            <div class="col-xs-12 col-md-4 col-grow">
              <div class="pg-card">
                <div class="pg-card__inner">
                  <div class="pg-card__image">
                    <img src="https://picsum.photos/382/213">
                  </div>
                  <div class="pg-card__content">
                    <div class="pg-card__content-top">
                      <div class="pg-card__label">
                        M&S
                      </div>
                      <h3 class="pg-card__title">
                        {% if loop.last %}
                          Accumsan consequat fames scelerisque id tempus massa velit
                        {% else %}
                          Short Title
                        {% endif %}
                      </h3>
                    </div>
                    <div class="pg-card__content-bottom">
                      <div class="pg-card__detail">
                        <div class="pg-label">Sector</div>
                        <div>Retail, FMCG</div>
                      </div>
                      <div class="pg-card__detail">
                        <div class="pg-label">Objective</div>
                        <div>Awareness, consideration, sales</div>
                      </div>
                    </div>
                  </div>
                  <a href="" class="pg-card__link"></a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="pg-grid">
        <div class="pg-grid__item">
          <h3>Grid item 1</h3>
          <p>Ex non Lorem laboris nulla aliquip consequat nostrud magna ullamco aliqua. Irure duis tempor officia magna qui proident tempor enim. Fugiat aute proident exercitation id ea exercitation cupidatat nulla sunt consectetur. Duis amet cillum nostrud qui eu elit ex deserunt aute commodo sit duis consectetur officia.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 6</h3>
          <p>Lorem</p>
        </div>
        <div class="pg-grid__item">
          <h3>Grid item 7</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui ante, laoreet nec posuere id, luctus et elit. Sed et molestie nulla, eu posuere est. Aenean purus mi, consectetur vitae porta in, convallis sit amet arcu. Maecenas blandit justo ipsum, quis malesuada nunc ultrices eget. Praesent ipsum tortor, tincidunt at odio a, aliquet convallis ante. Donec pellentesque lacinia nibh, ut luctus erat cursus porta. Duis et felis efficitur, ultricies turpis et, sollicitudin orci.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="pg-page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 pg-reset-child-margins">
            <h1>Page Section</h1>
            <p>This is the default page section, with a half width image, and the default layout</p>
            <p>Culpa in est fugiat ipsum sint ipsum elit pariatur. Consequat exercitation deserunt voluptate aliquip. Reprehenderit eiusmod officia est excepteur nulla. Ipsum minim commodo laborum ipsum officia laboris velit nulla. Nostrud est in velit ipsum aute enim sunt voluptate laborum ea commodo. Esse quis occaecat magna deserunt ea eiusmod ea.</p>
          </div>
        </div>
        <div class="pg-page-section__image" style="background-image: url(http://picsum.photos/500/500);"></div>
      </div>
    </div>
    <div class="pg-page-section pg-page-section--inverse pg-page-section--reverse">
      <div class="container">
        <div class="row">
          <div class="col-md-5 pg-reset-child-margins">
            <h1>Page Section</h1>
            <p>This is the dark page section, with a half width image, and the reverse layout</p>
            <p>Culpa in est fugiat ipsum sint ipsum elit pariatur. Consequat exercitation deserunt voluptate aliquip. Reprehenderit eiusmod officia est excepteur nulla. Ipsum minim commodo laborum ipsum officia laboris velit nulla. Nostrud est in velit ipsum aute enim sunt voluptate laborum ea commodo. Esse quis occaecat magna deserunt ea eiusmod ea.</p>
          </div>
        </div>
        <div class="pg-page-section__image" style="background-image: url(http://picsum.photos/500/500);"></div>
      </div>
    </div>
    <div class="pg-banner" style="background-image: url(http://picsum.photos/1440/100)">
      <div class="container">
        <div class="pg-banner__inner">
          <div class="pg-banner__header">
            <div class="pg-icon pg-icon--envelop"></div>
          </div>
          <div class="pg-banner__content">
            <h3>Want to know more?</h3>
            <p>Get in contact and arrange a consultation</p>
          </div>
          <div class="pg-banner__footer">
            <div class="pg-banner__links">  
              <a href="" class="pg-button pg-button--phone">Contact</a>
              <a href="" class="pg-button pg-button--tertiary pg-button--arrow-right-thin">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pg-banner pg-banner--inverse" style="background-image: url(http://picsum.photos/1440/100)">
      <div class="container">
        <div class="pg-banner__inner">
          <div class="pg-banner__header">
            <div class="pg-icon pg-icon--envelop"></div>
          </div>
          <div class="pg-banner__content">
            <h3>Want to know more?</h3>
            <p>Get in contact and arrange a consultation</p>
          </div>
          <div class="pg-banner__footer">
            <div class="pg-banner__links">  
              <a href="" class="pg-button pg-button--phone pg-button--secondary">Contact</a>
              <a href="" class="pg-button pg-button--tertiary pg-button--arrow-right-thin">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pg-page-section">
      <div class="container">
        <div class="row row-staggered pg-pebble-container">
          <div class="col-md-3 col-grow">
            <div class="pg-pebble">
              <div class="pg-pebble__head">
                <div class="pg-icon pg-icon--rocket"></div>
              </div>
              <div class="pg-pebble__content">
                <h4>Rocket</h4>
                <p>Reach for the stars!</p>
              </div>
              <a class="sr-only" href="">Find out more</a>
            </div>
          </div>
          <div class="col-md-3 col-grow">
            <div class="pg-pebble">
              <div class="pg-pebble__head">
                <div class="pg-icon pg-icon--trophy"></div>
              </div>
              <div class="pg-pebble__content">
                <h4>Champion</h4>
                <p>Strive to be the best!</p>
              </div>
              <a class="sr-only" href="">Find out more</a>
            </div>
          </div>
          <div class="col-md-3 col-grow">
            <div class="pg-pebble">
              <div class="pg-pebble__head">
                <div class="pg-icon pg-icon--pencil2"></div>
              </div>
              <div class="pg-pebble__content">
                <h4>Pencil</h4>
                <p>Be Creative!</p>
              </div>
              <a class="sr-only" href="">Find out more</a>
            </div>
          </div>
          <div class="col-md-3 col-grow">
            <div class="pg-pebble">
              <div class="pg-pebble__head">
                <div class="pg-icon pg-icon--lab"></div>
              </div>
              <div class="pg-pebble__content">
                <h4>Beaker</h4>
                <p>Innovate!</p>
              </div>
              <a class="sr-only" href="">Find out more</a>
            </div>
          </div>
          <div class="col-md-3 col-grow">
            <div class="pg-pebble">
              <div class="pg-pebble__head">
                <div class="pg-icon pg-icon--meter"></div>
              </div>
              <div class="pg-pebble__content">
                <h4>Dial</h4>
                <p>Performance is key!</p>
              </div>
              <a class="sr-only" href="">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pg-page-section">
      <div class="container pg-reset-child-margins">
        <div class="pg-showcase" data-pg-showcase>
          <div class="row">
            {% for i in 1..3 %}
              <div class="col-xs-12 col-md-4 pg-showcase__item">
                <div class="pg-showcase__image">
                  <img src="https://picsum.photos/278/158"/>
                </div>
                <div class="pg-showcase__content">
                  <h4 data-pg-showcase-title>Column Title</h4>
                  <p>We offer members free and discounted access to our rich year-round calendar of events.</p>
                  <a href="" class="pg-button pg-button--tertiary pg-button--arrow-right-thin">Learn More</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="pg-page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 pg-rich-text pg-reset-child-margins">
            <p>Est et ut voluptate est. Minim officia est sit eu exercitation pariatur adipisicing proident laborum Lorem exercitation. Ex eu ut aliquip irure anim esse nulla ullamco incididunt sunt ad sit. Ea fugiat amet ut duis non fugiat adipisicing. Id commodo sunt do do labore veniam eiusmod nisi ut excepteur nulla tempor proident. Excepteur aute ullamco aliquip sit aliquip incididunt in laborum amet quis exercitation dolore.</p>
            <ul>
              <li>Ex voluptate ad ullamco laboris ullamco.</li>
              <li>Tempor ad labore commodo ullamco velit reprehenderit est magna officia dolor enim sint nostrud.</li>
              <li>Ex veniam reprehenderit anim minim adipisicing cillum nostrud.</li>
            </ul>
            <p>Ad non culpa ut excepteur sint eiusmod do eiusmod et ut culpa quis ullamco. Veniam proident officia excepteur elit sunt aliquip. Do excepteur anim commodo nisi cupidatat est in. Non ipsum cillum officia magna tempor nulla quis aliqua tempor nisi fugiat eu voluptate. Sunt do cupidatat sit laboris laboris magna in ullamco officia mollit reprehenderit ullamco labore enim.</p>
            <ol>
              <li>Ex voluptate ad ullamco laboris ullamco.</li>
              <li>Tempor ad labore commodo ullamco velit reprehenderit est magna officia dolor enim sint nostrud.</li>
              <li>Ex veniam reprehenderit anim minim adipisicing cillum nostrud.</li>
            </ol>
            <img src="http://picsum.photos/500/360"/>
            <video controls>
              <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4" type="video/mp4">
            </video>
            <div class="pg-rich-text__iframe">
              <iframe src="https://www.youtube.com/embed/r1bTeElWBSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <pre>
.pg-rich-text pre {
    padding: $spacing-margin;
    background-color: map-get($map: $colours, $key: rock);
    border: 1px solid map-get($map: $colours, $key: slate);
    border-radius: 12px;
}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pg-footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="pg-logo">
            <a href=""><img src="{{ base_path ~ directory }}/logo-bw.svg"/></a>
          </div>
        </div>
        <div class="col-lg-9">
          <p><a href="">About</a></p>
          <p><a href="">Contact</a></p>
          <p>© Tom Evans 2019</p>
        </div>
      </div>
    </div>
  </div>
</div>